################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.opendb
*.ipch
x64/
Debug/
*.obj
v15/.suo
v15/Browse.VC.db
